<!-- Alternate nav bar for song pages-->
<section id="header">
  <header>
    <span class="image avatar"><img src="{{site.base_url}}/{{site.avatar}}" alt="" /></span>
    <p>{{site.tagline}}</p>
  </header>
  <nav id="nav">
    <ul>
      <li><a href="{{site.base_url}}/#one">Home</a></li>
      <li><a href="{{site.base_url}}/#two">Search</a></li>
      <li><a href="{{site.base_url}}/#three">Browse</a></li>
      <li><a href="{{site.base_url}}/#four">Contact</a></li>
    </ul>
  </nav>
  <footer>
    {% include icons.html %}
  </footer>
</section>
