<section id="two">
  <div class="container">
    <header class="major">
            <input type="text" placeholder="Search" name="bovid" id="autocomplete"/>

            <div class="autocomplete-suggestions">
                <div class="autocomplete-suggestion"></div>
            </div>
            <div id="searchresult"></div>
    </header>
  </div>
</section>
        <script>
          document.addEventListener("DOMContentLoaded", function(event) {

            // load autocomplete JS
            $("#scripts").after("<script src='/assets/js/jquery.autocomplete.js' type='text/javascript/'><//script>");

            $.getJSON("{{site.base_url}}/search.json",  setupAutoComplete)

            function setupAutoComplete( data ) {
              $('#autocomplete').autocomplete({
                lookup: data,
                onSelect: function (suggestion) {
                    $("#searchresult").load(suggestion.url);
                  }
                });
              };


          });
        </script>
